<!-- app.component.html -->
<!-- <app-personal-registration></app-personal-registration> -->
<!-- <app-tutor-registration></app-tutor-registration> -->
<!-- <app-student-registration></app-student-registration> -->
<app-navbar></app-navbar>
<!-- <app-header></app-header> -->
<!-- <app-home></app-home> -->
<!-- <app-parent-registration></app-parent-registration> -->
<!-- <app-classes></app-classes> -->
<!-- <app-tutor-dashboard></app-tutor-dashboard> -->
<!-- <app-student-dashboard></app-student-dashboard> -->
<!-- <app-tutor-park> </app-tutor-park> -->
<router-outlet></router-outlet>
<!-- <app-student-login></app-student-login> -->
<app-footer></app-footer>
