<!-- tutor-park.component.html -->

<div class="container">
    <div class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Notifications</a></li>
      </ul>
    </div>
  
    <div class="content-wrapper">
      <div class="sidebar">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">My School</a></li>
          <li><a href="#">Friend Requests</a></li>
          <li><a href="#">My Students</a></li>
          <li><a href="#">Timeline</a></li>
          <li><a href="#">Answer A Question</a></li>
          <li><a href="#">Find A Job</a></li>
          <li><a href="#">My Subjects</a></li>
          <li><a href="#">Post A Course</a></li>
          <li><a href="#">Schedule A Session</a></li>
          <li><a href="#">Event Calendar</a></li>
          <li><a href="#">My Points</a></li>
          <li><a href="#">Library</a></li>
          <li><a href="#">Assignments</a></li>
          <li><a href="#">My Feedbacks</a></li>
          <li><a href="#">Refer a Friend</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Chat</a></li>
          <li><a href="#">AXIS Class</a></li>
          <li><a href="#">My Earnings</a></li>
        </ul>
      </div>
  
      <div class="main-content">
        <!-- Main content area where content corresponding to the sidebar link selected will be displayed -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  