<div class="container">
    <div class="content">
      <h1>A good #education is always a base of</h1>
      <p>Equitable society. Consectur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  
      <div class="buttons">
        <button class="student" (click)="startAsStudent()">Start as Student</button>
        <button class="instructor" (click)="joinAsInstructor()">Join as Instructor</button>
      </div>
  
      <div class="footer">
        <p>It’s Free!</p>
        <p>You can also join as parent to explore. <a (click)="joinAsParent()">Join today</a></p>
      </div>
    </div>
    <div class="image">
      <img src="assets/tutor_student.jpg" alt="Tutor and Student">
    </div>
  </div>
  